@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
  /* ### Primary */

  --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* ### Neutral */

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  /* ### Background */

  --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  font-size: 16px;
}

h2 {
  font-size: 0.8rem;
}

p {
  font-size: 0.8em;
  font-weight: 600;
}

.app {
  background-image: radial-gradient(var(--Radial-Gradient));
  height: 100vh;
  padding: 1rem;
}

.score-header {
  padding: 0.8rem;
  border: 2px solid var(--Header-Outline);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-list {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.options-list p {
  font-size: 0.8em;
  font-weight: 600;
  margin: -0.15em;
}

.score {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  justify-content: space-between;
  align-items: center;
}

.score p {
  letter-spacing: 0.05em;
  color: var(--Score-Text);
}

.score h1 {
  color: var(--Dark-Text);
  font-size: 2.8rem;
  margin: -0.3rem;
}
